html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: 'Inter', sans-serif;
}

body {
  margin-bottom: 60px;
  background-color: #12161d;
  color: #ffffff;
}

.main-content{
    margin-left: 290px;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

.e-grid .e-gridcontent, .e-grid .e-table {
    background-color: #1a222b;
}

.e-grid .e-gridheader {
    border: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: #222b33;
}

    .e-grid .e-headercell {
        background-color: #222b33; /* Warna header yang lebih terang */
        color: #fff; /* Warna teks header */
    }

.e-bigger {
    font-size: x-large;
}

.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/*Button*/
.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none;
}

/*HyperLink*/
.no-a-decoration, .no-a-decoration:hover{
    text-decoration: none;
    color: inherit;
}

/*Breadcrum*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Sidebar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

.widget.summary > div:first-child{
    background-color: #222b33;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.widget.summary > div:first-child i{
    font-weight: bold;
}

.widget.income > div:first-child{
    color:#65da41;
}

.widget.expense > div:first-child {
    color: #ff4e48;
}

.widget.balance > div:first-child {
    color: #2aa1ff;
}

.widget.chart{
    padding: 5px;
}