﻿
@{
    ViewData["isDashboard"] = true;
}

@* Summary Widget *@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <h1 class="fw-bold">
                    <i class="bi bi-currency-dollar"></i>
                </h1>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalIncome</h1>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <h1 class="fw-bold">
                    <i class="bi bi-currency-dollar"></i>
                </h1>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalExpense</h1>
            </div>
        </div>
    </div>
   
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <h1 class="fw-bold">
                    <i class="bi bi-currency-dollar"></i>
                </h1>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Balance</span>
                <h1 class="display-6 fw-bold">@ViewBag.Balance</h1>
            </div>
        </div>
    </div>
   
</div>